body {
  background-image: url("./imagenes/underwater_2.jpg");
  background-size: 100% 100%; /* Stretches and compresses the image */
  background-position: center; /* Centers the image */
  background-color:  #ececec;
  margin: 0;
  /*display: flex; /*ESTP HAY QUE BORRARLO*/
  /*flex-direction: column; /*ESTO HAY QUE BORRARLO*/
  /*min-height: 100vh; /* que siempre ocupe toda la ventana ESTO HAY QUE BORRARLO */
}


header {
  display: flex;             /* Lo pone todo en fila */
  justify-content: space-between; /* Lo separa */
  align-items: center;       /* center vertical */
  padding: 10px 20px;
  opacity: 0.9; 
  background-color: #142d4c; 
}


footer {
  display: flex;
  justify-content: space-between;
  align-items: center;   /* <-- centra en vertical */
  /*He quitado lo de position: fixed pq quedaba demasiado troncho eso en medio jj  --> Esque lo de position fixed es porque la web tiene que ser
  dinámica jsajjsajam, tipo si haces zoom pa dentro o fuera q no se jorobe*/
  opacity: 0.9;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color:#142d4c;
  color:black;
  text-align: center;
  padding: 8px 12px; /*Lo he hecho más pequeño que era 1/3 de pagina solo para el copyright*/
  font-size:x-small; /*Tmb he hecho más peque la letra*/
  box-sizing: border-box;
}


/* Contenedor principal */
.row {
  display: flex;          /* pone left y right en fila */
  width: 100%;
  /*flex: 1;         /* altura total de la fila   ESTO HAY QUE BORRARLO */
}


/* Columnas izquierda y derecha */
.left {
  flex: 2;          /* 2/3 de ancho */
  display: flex;
  flex-direction: column; /* organiza columna_arriba y columna_abajo verticalmente */
  margin-right: 10px;
  margin-left: 10px;
}


.right {
  flex: 1;        /* 1/3 de ancho */
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}


.right_superior{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 200px;
  /*flex: 1;*/
  background-color: #2c7393bb;
  border-style: solid;
  border-radius: 10px;  /*Mandar correo profe, porque quiero dejar un hueco entre las dos partes pero no cumple lo de los tercios*/
  border-width: 4px;
  border-color: #142d4c;
  /*Esto es para controlar el tema de que no clipee el background los rounded borders*/
  overflow: hidden;
  background-clip: padding-box;
}


.formulario{
  display: flex;
  flex: 2;
  align-items: center; /*Quiero cambiar esto para que este abajo*/
  justify-content: center;
}


.checkbox{
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  font-family: 'Courier New', Courier, monospace;
}


.botones{
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}


.botones button{
  font-family: 'Courier New', Courier, monospace;
  color: white;
  /*border-radius: 5px;*/
  background-color: #142d4c;
  cursor: pointer;
  border: none;
  /*Estilo de los botones*/
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 7px;
}


#boton_inicio{  /*Change this to flex*/
  margin-right: 3%;
}


.right_inferior{
  margin-top: 10px;
  /*flex: 3;*/
  height: 1000px;
  display: flex;
  flex-direction: column;
  /*#385170*/
  /*background-image: url("./imagenes/texture_water.jpg");*/
  background-color: #2c7393bb;
  border-style: solid;
  border-radius: 10px;  /*Mandar correo profe, porque quiero dejar un hueco entre las dos partes pero no cumple lo de los tercios*/
  border-width: 4px;
  border-color: #142d4c;
  /*Esto es para controlar el tema de que no clipee el background los rounded borders*/
  overflow: hidden;
  background-clip: padding-box;
}


/*MODIFICAR ESTE CODIGO. NO DEBERIA SER TRES VECES LO MISMO; DEBERIA HABER UNA CLASE Y YA*/


#right_inferior_1{
  flex: 1;
  text-align: center;
  padding-top: 10px;
}


#right_inferior_1 h2{
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: 400;  /* normal weight */
  text-align: center;
  margin: 0;
  color:#ececec;
  background-color: #142d4c;
  border-radius: 10px;
  padding: 5px 10px;
}


#right_inferior_2{
  flex: 1;
  text-align: center;
  padding-top: 10px;
}

#right_inferior_2 h2{
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: 400;  /* normal weight */
  text-align: center;
  margin: 0;
  color:#ececec;
  background-color: #142d4c;
  border-radius: 10px;
  padding: 5px 10px;
}


#right_inferior_3{
  flex: 1;
  text-align: center;
  padding-top: 10px;
}


#right_inferior_3 h2{
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: 400;  /* normal weight */
  text-align: center;
  margin: 0;
  color:#ececec;
  background-color: #142d4c;
  border-radius: 10px;
  padding: 5px 10px;

}


.list {
  list-style-type: none;
  padding-left: 0;
}


.list li {
  margin: 8px 0;
  font-size: x-large;
  font-family: 'Courier New', Courier, monospace;
}


.list a {
  text-decoration: none;
  color: #ececec;
  /*font-weight: bold;*/
}


/* Hover en los enlaces */
.list a:hover {
  text-decoration: underline;
}


/* Dentro de left: columna_arriba y columna_abajo */
.columna_arriba {
  /*flex: 6;                /* ocupa 6/10 de la altura de left */
  display: flex;
  flex-direction: column; /* banner y imagenes_slide verticales */
  min-height: 0; /* let banner + slide split space properly */
  overflow: hidden;
  background-clip: padding-box; 
}


.columna_abajo {
  margin-top: 10px;
  /*flex: 4;                /* ocupa 4/10 de la altura de left */
  display: flex;
  flex-direction: column; /* organiza sus subsecciones verticalmente */
  border-style: solid;
  border-width: 4px;     /* thickness */
  border-color: #142d4c;   /* color */
  min-height: 0; /* let banner + slide split space properly */
  border-radius: 10px;
  overflow: hidden;
  background-clip: padding-box;
  height: 1500px;
}


.parte_a{
  flex: 1;
  background-color: #2c7393bb;
  display: flex;            /* make it a flex container */
  justify-content: center;  /* horizontal center */
  align-items: center;  
}


#titulo_experiencias{
  display: inline-block;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: 400;  /* normal weight */
  margin: 0;
  color:#ececec;
  background-color: #385170;
  border-radius: 10px;
  padding: 5px 10px;
}


.parte_b{
  flex: 4;
  background-color: mediumpurple;
  display: flex; /*Esto no lo quito porque lo de dentro si que va con flex*/
}


.bloque_anuncio_a{
  flex: 1;
  background-color: rosybrown;
  display: flex;
  flex-direction: column;
}


.bloque_anuncio_a_1{
  flex: 1;
  background-color: rgb(166, 255, 0);
}


.bloque_anuncio_a_2{
  flex: 1;
  background-color: green;
}


.bloque_anuncio_b{
  flex: 1;
  background-color: red;
  display: flex;
  flex-direction: column;
}


.bloque_anuncio_b_1{
  flex: 1;
  background-color: green;
}


.bloque_anuncio_b_2{
  flex: 1;
  background-color: blue;
}


.bloque_anuncio_c{
  flex: 1;
  background-color: hotpink;
  display: flex;
  flex-direction: column;
}


.bloque_anuncio_c_1{
  flex: 1;
  background-color: blue;
}


.bloque_anuncio_c_2{
  flex: 1;
  background-color: green;
}


.parte_c{
  flex: 1;
  background-color: lightgray;
}


.banner {
  margin-top: 10px; /* <-- adds 10px space below the header */
  background-image: url("./imagenes/cataratas.jpg");
  background-size: cover;
  background-position: center;
  /*height: 200px; Si algo tiene un flex, no tiene un height*/
  /*flex: 1;*/
  height: 200px; /*Delete if coming back to flex*/
  display: flex;
  align-items: center;
  justify-content: center;
  /*text-shadow: 1px 1px 4px black;*/
  border-style: solid;
  border-width: 4px;     /* thickness */
  border-color: #142d4c;   /* color */
  min-height: 0; /* let banner + slide split space properly */
  border-radius: 10px;

}


.banner-texto h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  font-weight: 400;  /* normal weight */
 
  text-align: center;
  margin: 0;
  color:#ececec;
  background-color: #385170;
  border-radius: 10px;
  padding: 5px 10px;
}


/* Carrusel */
.imagenes_slide {
  margin-top: 10px; /* <-- adds 10px space below the header */
  display: flex; 
  align-items: center;
  justify-content: center;
  background-color: #2c7393bb;
  /*padding: 10px;*/
  /*gap: 15px;*/
  /*flex: 3;*/
  padding: 10px;/*???*/
  min-height: 0;
  border-style: solid;
  border-width: 4px;     /* thickness */
  border-color: #142d4c;   /* color */
  min-height: 0; /* let banner + slide split space properly */
  border-radius: 10px;

}


.pack {
  flex: 1;
  width: 800px;
  max-width: 600px;
  /*height: 500px; Si hay un flex no hay height*/          /* altura total dinámica que controla proporción */
  display: flex;
  flex-direction: column; /* apila imagen y texto */
  background: transparent;
  border-radius: 6px;
  /*overflow: hidden;*/
  text-align: center;
  min-height: 0;
  max-height: 100%;
}


/*No consigo averiguar el tema de que la imagen ocupe 7 y el texto 3. Esto está mal*/
.imagen {
  min-height: 0;
  overflow: hidden; /* keep if not already present */
  flex: 7;   /* 70% */
}


.imagen img {
  width: 100%;
  height: 100%;
  object-fit: cover;      /* now it applies correctly */
  display: block;         /* removes extra whitespace */
}


.info {
  flex: 3;   /* 30% */
  background-color: white;
  padding: 20px;
  box-sizing: border-box;
}



.precio {
  font-weight: bold;
  color: darkgreen;
  display: block;
  margin: 10px 0;
}


/* Flechas */
.flecha {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.comprar {
  display: inline-block;
  padding: 8px 14px;
  background: #184E77;
  color: white;
  text-decoration: none; /* quita subrayado */
  border-radius: 4px;
  font-weight: bold;
}


#header_izq{
  flex: 1;
  font-family: 'Courier New', Courier, monospace;
  font-size: x-large;
  margin: 0;
  color: #ececec;
}


#header_ctr{
  flex: 5;
  display: flex;
  justify-content: center;   /* center the menu */
  font-family: 'Courier New', Courier, monospace;
  color: #ececec;
  gap: 20px; /*Espacio entre links*/
  background-color:#385170;
  text-align: center;
  padding: 6px 12px;
  border-radius: 6px; /* Esquinas redonditas */
}


#header_ctr a{
  display: inline-block; 
  color: white;
  padding: 10px 12px;
  text-decoration: none;
  transition: all 0.4s ease; /*Animacion para que no sea tan brusco el cambio*/
}


#header_ctr a:hover {
  background-color: #9fd3c7;
  transform: scale(1); /* zoom effect */
  border-radius: 4px;
}


#header_dra {
  flex: 1;
  display: flex;
  justify-content: flex-end; /*“push everything to the right edge”.*/
  align-items: center;
  gap: 10px;
}


#imagen_logo{
/*Ajustan el tamaño*/
width:50px;
height:50px;
}


#footer_izq,
#footer_ctr,
#footer_dra {
  flex: 1;   /* each section takes equal horizontal space */
  font-family: 'Courier New', Courier, monospace;
  font-size: large;

}


#footer_izq p{
  color:#ececec
}


#footer_ctr {
  text-align: center;
}


#footer_ctr a{
  color: #ececec;
  text-decoration: none;
}


#footer_dra {
  text-align: center;
}


#imagen_pinterest{
  width:30px;
  height:30px;
}


#imagen_Instagram{
  width:30px;
  height:30px;
}


#imagen_Strava{
  width:30px;
  height:30px; 
}


